<!DOCTYPE html>
<html>
<head><title>LifeWithLuna - Articles</title></head>
<body>
  <h1>LifeWithLuna - Articles</h1>
  <% articles.forEach(article => { %>
    <article>
      <h2><%= article.title %></h2>
      <div><%= article.content %></div>
      <small><%= article.date.toDateString() %></small>
      <hr>
    </article>
  <% }) %>
</body>
</html>